﻿@model ProductDemo.Models.Product
@{
    ViewData["Title"] = "Index";
}

<h1>Get Product By Id</h1>

<table>
    <tr>
        <td>
            Id: @Model.Id
        </td>
    </tr>
    <tr>
        <td>
            Name:  @Model.Name
        </td>
    </tr>
    <tr>
        <td>
            Description:  @Model.Description
        </td>
    </tr>
</table>



