﻿@model DateTimeDemo.Models.CustomDateTime 
@{
    ViewData["Title"] = "Index";
}

<h1>Current date, day and time</h1>
<table>
    <tr>
        <td>
            Date: @Model.date
        </td>
    </tr>
    <tr>
        <td>
          Day: @Model.day
        </td>
    </tr>
    <tr>
        <td>
           Time: @Model.time
        </td>
    </tr>
</table>

