﻿@model List<ProductDemo.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Get Product By Id</h1>

@foreach (var item in Model)
{
<table>
    <tr>
        <td>
            @item.Id
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.Description
        </td>
    </tr>
</table>
}

